<% declare_content_for %>

<div id="ajax_wrap_inner">
	<% display_message flash %>

	<h2 class="stack"><%= user_account_title %></h2>

	<pre>
		<%= @tenant.pretty_inspect %>
	</pre>
	
	<div id="tenant_rentals">
		<% current_user.rentals %>
	</div>
	
</div>