<% declare_content_for %>
<%= display_message flash %>

<div id="login_page">
	<% form_tag '/password_resets', :method => 'post', :id => 'password_resets_form', :class => 'password_resets' do  %>
		<fieldset>
			<div class="stack i">
				<%= label_tag :email, nil, :class => 'hidden' %>
				<div class="shadow_wrap">
	  			<%= text_field_tag :email, params[:email], :class => 'email hintable required', :title => 'Your Email Address' %>
				</div>
			</div>
		
			<div class="uncollapse">
				<p class="left">
					We'll send you a little email<br />with a link to reset your password. 
				</p>
				<%= submit_tag 'Send', :id => 'send_btn', :class => 'bigblue_btn right' %>
			</div>
		</fieldset>
	<% end %>
</div>