<ul id="storage_types">
	<li><a href="#" class="active">Self Storage</a></li>
	<li><a href="#">Mobile Storage</a></li>
	<li><a href="#">Car Storage</a></li>
	<li><a href="#">RV Storage</a></li>
	<li><a href="#">Boat Storage</a></li>
	<li><a href="#">Cold Storage</a></li>
</ul>
<ul id="moving_help">
	<li><a href="#">Truck Rentals</a></li>
	<li><a href="#">Moving Companies</a></li>
	<li><a href="#">Supplies</a></li>
</ul>
<ul class="right">
	<li><%= link_to 'Log In', login_path, :class => 'right' %></li>
</ul>