<div id="ajax_wrap_inner">
	<%= display_message flash %>
	<p><strong>Email: </strong><%= @model.email %> will no longer receive mail for this list. Feel free to reply with any questions or comments. Thanks!</p>
	<p>Sincerely, </p>
	<p> - The USSSL Team</p>
</div>