<div id="sl-tabs-map">
  <div id="sl-tabs-map-in">
    <div id="google_map" data-coords="<%= coords %>"></div>
	<div class="get_dir np">
		<% form_tag '/ajax/directions', :id => 'get_dirs', 'data-container' => 'sl-tabs-map', 'data-wrap' => 'google_map', 'data-to-addr' => listing.full_address do %>
			<input type="text" value="" title="For directions enter your starting address and... " name="from_address" id="from_address" class="directions hintable"> <%= link_to 'Go!', "/ajax/directions", :class => 'white submit_btn', :id => 'get_dirs' %> <%= submit_tag 'Go', :class => 'hide' %>
		<% end %>
	</div>
  </div>
</div>