<div id="sl-tabs-feat" class="tab_content">
  <ul id="sl-tabs-feat-in">
    <% @features.each do |feature| %>
      <li><span class="selectable"><%= check_box_tag 'feature', feature, false, :class => 'hidden' %></span><%= feature %></li>
    <% end %>
  </ul>
</div>