<div id="sl-tabs-feat" class="tab_content">
  <div id="sl-tabs-feat-in">
    <% 1.upto(12) do |i| %>
    <ul>
      <li><span>Item <%= i %></span></li>
      <li><span>Item 2</span></li>
    </ul><% end %>
    <div class="clear"></div>
  </div>
</div>