<div id="feat-list">
	<h4>
		Featured Listing
	</h4>
	
	<a href=""><img src="/images/ui/storagelocator/uncle-bobs.png"></a>
	
	<ul id="preview">
		<li>
			<a href=""><img src="/images/ui/storagelocator/temp-images/preview1.png"></a>
		</li>
		<li>
			<a href=""><img src="/images/ui/storagelocator/temp-images/preview2.png"></a>
		</li>
		<li>
			<a href=""><img src="/images/ui/storagelocator/temp-images/preview3.png"></a>
		</li>
		<li>
			<a href=""><img src="/images/ui/storagelocator/temp-images/preview4.png"></a>
		</li>
	</ul>
	
	<div id="name">
		<a href="">Uncle Bob's Self Storage</a>
	</div>
	<div id="address">
		2343 NW 113th Ave.<br>
		Pompano Beach, FL 33056
	</div>
	<div id="phone">
		954-234-5678
	</div>
	<div id="spec">
		<p>
			Special
		</p>Get the 1st Month Free! With immediate move in!
	</div>
	<div id="size">
		<p>
			Size
		</p>10 x 10
	</div>
	<div id="price">
		<p>
			Price
		</p>$99.00/month
	</div>
	<div id="more-info">
		<a href="">More Info</a>
	</div>
</div>
