<div id="sl-tabs-overview" class="tab_content">	
	<div id="sl-intro">
		<div id="inner">
			<div id="sl-special">
				<h3>Thanksgiving Day Special <br /><span>25% Off</span><br /> on all Packing Supplies</h3><p><a href="#" class="ps">Print</a> and bring it, or select it if you <a href="#">Rent Online</a>.</p>
			</div>
			<div id="sl-descript">
				<p><%=h @listing.display_description %></p>
			</div>
		</div>
		<div id="sl-photos">
			<%= image_tag @listing.pictures.first.image.url(:medium), :id => 'main_pic' %>
			<div id="previews">
				<% @listing.pictures.each do |picture| %>
					<%= link_to image_tag(picture.image.url(:thumb)) %>
				<% end %>
			</div>
		</div>
	</div>
</div>