<div class="pagination">
  <div class="rslt-foot">
    <%= more_results_link(@listings) %>
  </div>
  <span id="per_page" class="hidden"><%= @listings.per_page if @listings.respond_to?(:per_page) %></span>
</div>