<div id="sl-tabs-pict" class="tab_content">
  <div id="sl-tabs-pict-in">
    <ul id="sl-tabs-pict-gall">
      <% 1.upto(8) do |i| %>
        <li><img alt="Picture <%= i %>" title="Picture <%= i %>" src="/images/ui/storagelocator/example-gallery-tn.png"></li>
      <% end %>
    </ul>
    <img src="/images/ui/storagelocator/example-gallery.png" class="big-pic">
  </div>
</div>