<% @listing = @listing || listing %>
<div id="sl-tabs-sizes" class="inner tab_content">
	<% if is_facility_owner? && in_edit_mode? %>
		<%= link_to 'Add Unit', '#', :id => 'new_unit', :class => 'btn' unless @listing.issn_enabled? %>
		<%= link_to 'Sync', "/ajax/model_method?model=Listing&id=#{@listing.id}&model_method=update_unit_types_and_sizes", :id => 'sync_listing', :class => 'btn ajax_link', :title => 'Sync unit info with your Property Management System' if @listing.issn_enabled? %>
		<%= ajax_loader %>
	<% end %>
	
  <div id="sl-tabs-sizes-in">
    <ul class="sl-table-head">
      <li class="st-size">Size</li>
      <li class="st-type">Type</li>
      <li class="st-desc">Description</li>
	  <li class="st-pric">Monthly</li>
	  <% if in_edit_mode? && @listing.issn_enabled? %><li class="st-avail">Available</li><% end %>
    </ul>
	
	<%= render :partial => 'sizes/size', :collection => (in_edit_mode? ? @listing.sizes.sorted : @listing.available_sizes) %>
  </div>
</div>