<% form_tag tracking_request_listing_path(model), :method => 'post', :id => 'tracking_request' do %>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur, elit id ultrices bibendum, orci ipsum sodales nibh, vel mollis lacus urna sit amet turpis. 
		Phasellus tristique arcu sed velit imperdiet elementum. Nunc tempor ipsum congue dui volutpat nec tincidunt quam pulvinar. Aliquam iaculis convallis quam, eu porta massa accumsan at.
	</p>
	
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur, elit id ultrices bibendum, orci ipsum sodales nibh, vel mollis lacus urna sit amet turpis. 
		Phasellus tristique arcu sed velit imperdiet elementum. Nunc tempor ipsum congue dui volutpat nec tincidunt quam pulvinar. Aliquam iaculis convallis quam, eu porta massa accumsan at.
	</p>
<% end %>