<% unit_size = params[:storage_size].blank? ? listing.sizes.first : listing.sizes.detect { |s| s.dims == params[:storage_size] } unless listing.sizes.empty? %>
<% if unit_size %>
	<div class="unit_detail_in">
		<div class="left">
			Specials: <span>First Month Free! Lowest Price Garaunteed. Exclusive Web Special</span>
		</div>

		<div class="right">
			Unit Size: <span class="size_display"><%= unit_size.display_dimensions %></span> <span class="month_rate"><%= number_to_currency unit_size.dollar_price %> per month</span>
		</div>
	</div>
<% end %>