<div class="unit_detail_in">
	<div class="left">
		<% if listing.special %>
			Special: <span class="special_txt" data-special-id="<%= listing.special.id %>" title="<%= listing.special.description %>"><%= listing.special.title %></span>
		<% end %>
	</div>
	
	<%= compare_link listing %>
</div>