<div class="unit_detail_in">
	<div class="left">
		<% if listing.special %>
			Special: <%= render :partial => 'predefined_specials/special_txt', :locals => { :listing => listing } %>
		<% end %>
	</div>
	
	<%= compare_link listing %>
</div>