<% declare_content_for %>
<% content_for :scripts, @Gmap.to_html rescue nil %>
<%= content_for :stylesheets, ajaxful_rating_style %>
<%= display_message flash %>

<div class="staticContent">
	<%= render :partial => 'profile' %>
</div>
