<% unless request.xhr? %>
	<% declare_content_for %>
	<% content_for :scripts, "<script src='http://maps.google.com/maps?file=api&amp;v=2&amp;key=#{GOOGLE_APPLICATION_ID}' type='text/javascript'></script><script type='text/javascript'>Gmaps_data = #{@maps_data.to_json};</script>\n" + javascript_include_tag('plugins/jquery.jmap') %>
<% end %>

<div id="ajax_wrap_inner">
	<%= display_message flash %>

	<div id="type-one-r-col-in">
	  <div id="results_header">
	    <h2><%= locator_header %></h2>
		<%= link_to '<span>Hide Map</span>'+ image_tag('/images/ui/storagelocator/map-option-btn.png'), '#hide_open-map', :id => 'top_map_btn', :rel => "#{@location.lat},#{@location.lng}" %>
	  </div>
	</div>

	<div id="main_map">
	</div>
	
	<%= render :partial => 'listings/results' %>
	
</div>