<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" bgcolor='#eeeeee' >
<table width="100%" cellpadding="10" cellspacing="0" bgcolor='#fff' >
<tr>
<td valign="top" align="center">

<table width="600" cellpadding="0" cellspacing="0" >

<tr>
<td style="text-align:right;" align="right"><span style="font-size:10px;color:#000;line-height:200%;font-family:verdana;text-decoration:none;">Email not displaying correctly? <a href="*|ARCHIVE|*" style="font-size:10px;color:#000;line-height:200%;font-family:verdana;text-decoration:underline;">View it in your browser.</a></span></td>
</tr>

<tr>
<td align="left" valign="middle" ><center><a href="http://usselfstoragelocator.com/self-storage-advertising"><IMG id=editableImg1 SRC="http://gallery.mailchimp.com/10ebae115404b7a335d7eeee6/images/usselfstoragelocator_activate.jpg" BORDER="0" title="USSelfStorageLocator.com"  alt="USSelfStorageLocator.com" align="center"></a></center></td>
</tr>

</table>
<table width="600" cellpadding="0" cellspacing="0" >
	<tr>
		<td height="15"></td>
	</tr>
	<tr>
		<td style="font-size:10px;line-height:12px">At USSelfStorageLocator.com we offer a variety of tools to help you promote your facility and grow your business. Today's businesses thrive on internet exposure, and your potential customers are turning to specialized search engine websites like ours to find professional services. We offer our network members a variety of services for marketing and online self storage rentals. Activate your account now and you'll be entered to win an Apple iPad with Wi-Fi + 3G. Drawing will be held at the 2011 Inside Self Storage World Expo in Las Vegas. NO ATTENDANCE NECESSARY. </td>
	</tr>
		<tr>
			<td height="15"></td>
		</tr>
	<tr>
		<td colspan="2" valign="middle" id="utility">
	    	<div mc:edit="std_utility"><a href="*|UNSUB|*">unsubscribe from this list</a> | <a href="*|UPDATE_PROFILE|*">update subscription preferences</a><!-- *|IFNOT:ARCHIVE_PAGE|* --> | <a href="*|ARCHIVE|*">view email in browser</a></div>
	    </td>
	</tr>
	
</table>

<table width="600" cellpadding="10" cellspacing="0" >
	<tr>
		<td style="text-align:center;">&copy; 2011 - USSelfStoragelocator.com</td>
	</tr>
</table>

</td>
</tr>
</table>

</body>
</html>