<div class="review">
	<h6><%= review.title %></h6>
	<p>By: <%= review.email %></p>
	<div class="stack"><%= review.comment %></div>

	<ul>
		<li>Rating&nbsp;&nbsp;&nbsp;</li>
		<li class="five-star"><%= ratings_for review, :dimension => :usefulness, :small => true %></li>
	</ul>
</div>