<div class="blog-lock">
	<h3><%= link_to tip.name_or_title, post_path(tip) %></h3>
	<div class="stack"><%= tip.content_teaser %></div>

	<ul>
		<li>Rating&nbsp;&nbsp;&nbsp;</li>
		<li class="five-star"><%= ratings_for tip, :dimension => :usefulness, :small => true, :show_user_rating => true %></li>
		<li class="share">Share: 
			<a href="" class="socialmediathree"><span class="hidden">Another</span></a>
			<a href="" class="socialmediatwo"><span class="hidden">Another</span></a>
			<a href="" class="socialmediaone"><span class="hidden">Another</span></a>
			<a href="" class="twitter"><span class="hidden">Twitter</span></a>
			<a href="" class="facebook"><span class="hidden">Facebook</span></a>
			<a href="" class="delicious"><span class="hidden">Delicious</span></a>
		</li>
		<% if tip.respond_to? :display_tag_list_with_links %>
			<li class="tags">Tags: <%= tip.display_tag_list_with_links %></li>
		<% end %>
	</ul>
</div>