<p>
	A customer has requested info for your storage facility: <a href="#" target="_blank" style="color:green;">American International Storage-North Miami Beach FL.</a><br>
	<a href="#" target="_blank">Sign in</a> to listen to this recording.
</p>
<div style="width:340px;">
	<table>
		<tr>
			<td width="170" valign="top" halign="left">
				<p>
					<strong>Caller Name:</strong> John Doe
				</p>
				<p>
					<strong>Caller Number:</strong> (954) 635-4040
				</p>
				<p>
					<strong>Email:</strong> John.Doe@email.com
				</p>
			</td>
		</tr>
	</table>
</div>
<p>
	For tips on how to best respond to an Info Request visit: <a href="#" target="_blank">http://usselfstoragelocator.com/help/responding-to-info-requests</a>
</p>