<p>
	Thank you for your interest in <a href="#" target="_blank" style="color:green;">American International Storage - North Miami Beach FL.</a><br>
	The storage facility will contact you within the next 24-48 hours to complete reservation process.
</p>
<div style="width:340px;">
	<table>
		<tr>
			<td width="340" valign="top" halign="left">
				<h2>
					Facility Details:
				</h2>
				<p>
					<a href="#" target="_blank" style="color:green;">American International Storage - North Miami Beach, FL</a><br>
					1234 N. Street Dr.<br>
					Miami, FL 33162<br>
					<strong>PH:</strong> 305-555-5555<br>
					<strong>Email:</strong> storage@email.com
				</p>
			</td>
		</tr>
	</table>
	<hr>
	<table>
		<tr>
			<td width="340" valign="top" halign="left">
				<h2>
					Unit Details:
				</h2>
				<p>
					<strong>Size:</strong> 10x10<br>
					<strong>Move-In Date:</strong> 05-10-11<br>
					<strong>Estimated Rental Duration:</strong> 2 Months<br>
				</p>
			</td>
		</tr>
	</table>
	<hr>
</div>
<p>
	For more information about our Reservation process please visit: <a href="#" target="_blank">http://usselfstoragelocator.com/reserve-help</a>
</p>