<p>New Tip Created!</p>

<p>
	<strong>Title: </strong> <%= @tip.title %><br>
	<strong>Content:</strong> <%= @tip.content %><br>
	<strong>Tags:<strong> <%= @tip.tag_list %><br>
	<strong>URL:</strong> <%= tip_url @tip %>
</p>