<h3>
	PHONE CALL
</h3>
<p>
	A customer has called your storage facility, <a href="#" target="_blank" style="color:green;">American International Storage-North Miami Beach FL.</a><br>
	<a href="#" target="_blank">Sign in</a> to listen to this recording.
</p>
<p>
	<strong>Caller Name:</strong> Fort Lauderd FL
</p>
<p>
	<strong>Caller Number:</strong> (954) 635-4040
</p>
<p>
	You can listen to the phone call now by clicking here: <a href="#" target="_blank">http://usselfstoragelocator.com/owner/recording/162925.mp3</a> (MP3).
</p>