<p><%= @client.name %> would like it if you reviewed their facility "<%= @listing.title %>" on USSelfStorageLocator.com</p>

<p><strong>Message:</strong></p>
<div>
	<%= @message %>
</div>

<p>Click here to go directly to their page: <%= facility_url @listing.storage_type.parameterize.to_s, @listing.state.parameterize.to_s, @listing.city.parameterize.to_s, @listing.title.parameterize.to_s, @listing.id, :anchor => 'write_review' %></p>
