<p>Thanks for subscribing to USSelfStorageLocator.com!</p>

<p><strong>Email:</strong> <%= @subscriber.email %></p>
<p><strong>Time:</strong>  <%= @subscriber.nice_date :created_at, :include_time => true %></p>
