<% declare_content_for %>
<div id="ajax_wrap_inner">
	<%= display_message flash %>

	<div id="admin_panel">
		<ul id="controller_list">
			<% @controllers.each do |c| %>
				<li><%= link_to c.titleize, "/#{c.underscore}", :id => "AdminLink_#{c}", :class => 'admin_link' %></li>
			<% end %>
		</ul>

		<div id="ajax_wrap">
			<div id="admin_hint"> ← Try one of those links, maybe.</div>
		</div>
	</div>
</div>