<% declare_content_for %>
<%= display_message flash %>

<h2><%= contextual_index_view_title((local_assigns.has_key?(:title) ? title : nil)) %></h2>

<div id="admin_panel">
	<ul id="controller_list">
		<% @controllers.each do |c| %>
			<li><%= link_to c.titleize, "/#{c.underscore}", :id => "AdminLink_#{c}", :class => 'admin_link' %></li>
		<% end %>
	</ul>

	<div id="ajax_wrap">
	</div>
</div>