<% declare_content_for %>
<div id="ajax_wrap_inner">
	<div id="blog-post">
		<h1><%= @blog_post.title %></h1>
		<div id="post-date"><%= @blog_post.updated_at.strftime "%B %d, %Y" %></div>
		<%= @blog_post.content %>
	
		<div id="tags">
			<h4>Tags:</h4>
			<% @blog_post.tags.each do |tag| %>
			<%= link_to tag.name, tagged_with_path(@blog_post.class.name, tag.name) %>
			<% end %>
		</div>
	</div>
</div>