<div class="mailing_address">
	<p class="address"><%= mailing_address.address %></p>
	<p class="city_state_zip"><%= mailing_address.city %>, <%= mailing_address.state %> <%= mailing_address.zip %></p>
</div>