/* no print */
.ps,.np{display:none !important;}
.dp{position:static !important;}
.page-break{display:block;page-break-before:always;}
img.left{margin:0 10px 10px 0;}
.note{clear:both;display:block;font-size:80%;}
/* Storagelocator v1 print style mods */
#sl-fac-coup{float:left !important;}
#sl-fac-coup{width:45%;float:right;position:relative;border:2px dashed #ccc;margin-right:2px;}
#sl-fac-coup-in,#sl-fac-coup-in-edit{min-height:130px;padding:10px 12px;color:#666;text-align:left;}
#sl-fac-coup-in .sl-special,#sl-fac-coup-in-edit .sl-special{font-size:200%;color:#333;margin:10px 0;text-align:center;font-variant:small-caps;display:block;}
#sl-fac-coup-in .special_desc,#sl-fac-coup-in-edit .special_desc{display:block;font-size:80%;margin-bottom:20px;}
#sl-fac-coup-in .coup_sponsor,#sl-fac-coup-in-edit .coup_sponsor{position:absolute;bottom:8px;color:#393;}
#sl-fac-coup-in .coup_sponsor{position:static;}
#sl-fac-coup-in-edit .coup_code{position:absolute;color:#666;right:10px;bottom:6px;font-family:Courier, monospace;font-size:10px;}
#sl-fac-coup-in .coup_code{position:static;color:#666;font-family:Courier, monospace;font-size:10px;}
#sl-fac-coup-in .special_label,#sl-fac-coup-in-edit .special_label{text-transform:uppercase;display:block;font-size:80%;}
#listings_controller #sl-fac-coup-in-edit input.coupon_code{font-size:100%;}

#issn_tos{height:auto;}
#netmem_agree table th{text-align:left;}
#netmem_agree table th,#netmem_agree table td{border:1px solid #ccc;}
#netmem_agree table input,#netmem_agree .signature_line input{border:0 none;}
#netmem_agree #sig_box{margin-bottom:10px;text-align:center;}
#netmem_agree .signature_line,#netmem_agree .label{width:400px;margin:0 auto;}
#netmem_agree .signature_line{border-bottom:1px solid #555;padding-top:15px;margin-top:10px;}
#netmem_agree .signature_line input{text-align:center;border:0 none;}
#netmem_agree .label{text-align:center;font-size:60%;color:#666;}
#client_listings_table{height:auto;overflow:visible;}