<div id="print">
<div id="oldlogo">
	<img src="/images/ui/storagelocator/us-self-storage-locator-logo-lg.gif" alt="US Self Storage Locator" />
	<img src="/images/ui/storagelocator/us-self-storage-locator-heading.png" alt="US Self Storage Locator" />
</div><div id="print_content"></div>
</div>