<div id="logo">
	<img src="/images/ui/storagelocator/us-self-storage-locator-logo.gif" alt="US Self Storage Locator" class="left" />
	<img src="/images/ui/storagelocator/us-self-storage-locator-heading.png" alt="US Self Storage Locator" />
</div>