<div id="social_box">
	<iframe style="float:left;height:60px;margin-left:5px;width:95px;" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%= $root_domain %>&amp;layout=box_count&amp;show_faces=true&amp;width=100&amp;action=recommend&amp;font=verdana&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:65px;" allowTransparency="true"></iframe>	

	<script type="text/javascript" language="javascript" src="http://twittercounter.com/widget/index.php?username=StorageLocator"></script>
</div>