<div id="social_box">
	<iframe style="float:left;height:60px;margin-left:5px;width:95px;" src="http://www.facebook.com/plugins/like.php?href&amp;send=true&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=recommend&amp;colorscheme=light&amp;font=lucida+grande&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>

	<div id="twitter_share">
     	<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://<%= USSSL_DOMAIN %>" data-text="USSelfStorageLocator.com" data-count="vertical" data-via="StorageLocator">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
   	</div>
</div>