<div id="social_box">
	<iframe style="float:left;height:60px;margin-left:5px;width:95px;" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%= current_url %>&amp;layout=box_count&amp;show_faces=true&amp;width=100&amp;action=recommend&amp;font=verdana&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:65px;" allowTransparency="true"></iframe>	

	<div id="twitter_share">
     	<a href="http://twitter.com/share" class="twitter-share-button" data-url="http://<%= $root_domain %>" data-text="USSelfStorageLocator.com" data-count="vertical" data-via="StorageLocator">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
   	</div>
</div>