<p>
<span style="display:inline-block;margin-bottom:10px;font-size:24px;font-weight:bold;color:#FF6633;font-family:arial;line-height:110%;">Thanks for joining our site!</span><br>
</p>

<p>Click <a href="https://usselfstoragelocator.com/clients/activate/<%= @client.activation_code %>">here to login</a> to your account, or copy the following link:<br/>
https://secure.usselfstoragelocator.com/clients/activate/<%= @client.activation_code %></p>


<p>Your account information:</p>
<ul>
	<li>User Name: <strong><%= @client.email %></strong></li>
 	<li>Password: <strong><%= @client.temp_password %></strong></li>
</ul>

<p>We recommend you change your temporary password soon after you log on.</p>

<p>Have a great day!</p>