<ul>
	<li><span class="block left w150">Owner</span> <%= client.name %></li>
	<li><span class="block left w150">Contact Email</span> <%= client.email %></li>
	<li><span class="block left w150">Facility Name</span> <%= client.listings.first.title %></li>
	<li><span class="block left w150">Facility Address</span> <%= client.listings.first.map.full_address %></li>
</ul>