<div id="ov-reports-cnt">
	<div id="stats_graph">
		<%#= graph %>
	</div>
	
	<div id="graph_controls">
		<%= label_tag 'Starting from' %> 
		<%= select_tag 'months_ago', option_tags([1..24].map(&:to_a).flatten), :class => 'auto_change' %> 
		months ago.
	</div>
</div>