<div id="issn_steps">
	<div class="items">
		<div id="issnstep_1" class="workflow_step">
			<%= link_to image_tag('/files/content/issn_networklogo.jpg', :class => 'right'), 'http://www.opentechalliance.com/products/insomniac-network.php' %>
			<h4>Enable inventory synchronization through OpenTech's INSOMNIAC Self Storage Network (ISSN)</h4>
		
			<p>USSelfStorageLocator.com uses <a href="http://www.opentechalliance.com/products/insomniac-network.php" target="_blank">ISSN</a> to provide a secure, real-time connection, between self storage facilities (Network Members) and marketing companies (Marketing Partners) for the purpose of providing seamless inventory synchronization.</p>
			
			<br/>
			
			<h4>Supported Property Management Systems</h4>
			<table>
				<tr>
					<td>
						<ul>
							<li>Domico</li>
							<li>Self Storage Manager</li>
							<li>SiteLink PC</li>
							<li>SiteLink Web</li>
						</ul>
					</td>
				
					<td>
						<ul>
							<li>StorageCommander</li>
							<li>Store 3.1</li>
							<li>Store 4.0</li>
							<li>Symbio</li>
						</ul>
					</td>
					<td>
						<ul>
							<li>TaskMaster</li>
							<li>Total Recall</li>
							<li>WinSen</li>
						</ul>
					</td>
				</tr>
			</table>
			
			<h4>Benefits of inventory synchronization through ISSN</h4>
			<ul>
			    <li>Allows self storage operators to accept online rentals and reservations through multiple sales channels.</li>
			    <li>Save time by automatically synchronizing all your facility details, inventory, and availability with your facility's profile.</li>
			</ul>
			
			<div id="issn_status_option" class="uncollapse">
				<div class="right">
					<a href="#" id="join_issn" rel="opt_2" class="btn">Next</a>
				</div>
			</div>
		
		</div> <!-- END step 1 -->

		<div id="issnstep_2" class="workflow_step">
			<h4>Authorization Form</h4>
		
			<p class="stack">
				Please make sure all the information in this form is accurate before submitting. <strong>To authorize more than one facility</strong> please add/activate them on your main account before continuing with the authorization process.
			</p>
		
			<p>
				<%= @send_issn_auth_to %>
			</p>
		
			<div id="print_box">
				<%= render :partial => 'vendors/issn_tos' %>
				<div id="client_info_preview"></div>
				
			</div>
		
			<div id="print_issn_auth">
				<%= print_link('#print_box') %> this page
			</div>
		
		</div> <!-- END step 2 -->
	</div>
	
	<div id="workflow_nav">
		<a class="button back" id="back" href="#back">Back</a>
	  	<a class="button next" id="next" href="#next">Next</a>
	</div>
	
</div>