<div id="workflow_steps">
	<div id="signupstep_2" class="workflow_step">
		<div class="left">
		  <h4>There are many variations</h4> 
		  <p>of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
		</div>
		
		<div class="found_box">
			<p class="display">We found <span></span> facilities that might belong to you.</p>
			<div class="small_listings"></div>
		</div>
		
		<div class="hidden listing_div selectable">
			<div class="left block num"></div>
		  	<div class="listing_in">
  				<p class="listing_title"></p>
  				<p class="listing_address"></p>
  				<div class="check"><span><input type="checkbox" class="hidden" name="listing_id" value="" /></span></div>
  			</div>
		</div>
		
	</div> <!-- END step 2 -->

	<div id="signupstep_3" class="workflow_step">
	  	<h3>More Information</h4>
	  
		<form action="" method="" id="contact_info_form" class="silent">
			<p>
				<label class="hidden">Contact Name</label>
				<input type="text" id="first_name" name="first_name" class="hintable required" title="First Name" />
				<input type="text" id="last_name" name="last_name" class="hintable required" title="Last Name" />
			</p>
			<p>
				<label class="hidden">Facility Address</label>
				<input type="text" id="listing_address" name="listing_address" class="hintable required" title="Street Address" />
			</p>
			<p class="city_state_zip">
				<input type="text" id="listing_city" name="listing_city" class="hintable required autocomplete" rel="UsCity_names" title="City" />
				<input type="text" id="listing_state" name="listing_state" class="hintable required autocomplete" rel="States_abbrevs|1" title="State" />
				<input type="text" id="listing_zip" maxlength="5" name="listing_zip" class="hintable numeric_zip" title="Zip" />
			</p>
			<p>
				<label class="hidden">Phone Number</label>
				<input type="text" id="listing_phone" maxlength="12" name="listing_phone" class="hintable numeric_phone" title="Phone Number" />
			</p>
			
			<p class="opt_in">
				<input type="checkbox" name="wants_newsletter" id="wants_newsletter" value="1" />
				<label for="wants_newsletter">Send me the latest news.</label>
			</p>
		</form>

		<div class="right">
		  <h4>There are many variations</h4> 
		  <p>of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words which don't look even slightly believable. </p>
		</div>
	  
	</div> <!-- END step 3 -->

	<div id="signupstep_4" class="workflow_step">
		<h3>Make sure everything's cool before you finish.</h3>
		
		<div class="left hidden">
			
		</div>
		
		<div class="right">
			<h4>There are many variations</h4> 
			<p>of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humor, or randomized words which don't look even slightly believable. </p>
		</div>
		
	</div> <!-- END step 4 -->
	
	<div id="workflow_nav">
		<a class="button back" id="back" href="#back">Back</a>
		<a class="button skip" id="skip" href="#skip">Skip</a>
	  	<a class="button next" id="next" href="#next">Next</a>
	</div>
	
</div>