<div id="workflow_steps">
	<div class="items">
		<div id="signupstep_2" class="workflow_step">
			<div class="left">
				<h3>Choose Your Facility.</h3> 
				<p>
					You have taken the first step to become a Network Member of the greatest locator and search engine in the Self-Storage business. 
					We will manually verify ownership of this facility and grant you access to the control panel which allows you to add more facilities, 
					manage their details such as unit availability and rates, hours of operation, pictures, specials and more. You'll use your control 
					panel to check on activity reports on traffic, customer’s calls and other neat features. If you have any questions or need assistance 
					signing up and navigating your way through, just call us at 305-945-7561 and one of our representatives will  be happy to guide you through.
				</p>
				<img src="/images/ui/storagelocator/step1a.png"/>
			</div>
		
			<div class="found_box">
				<p class="display">We found <span></span> facilities that might belong to you.</p>
				<div class="small_listings"></div>
			</div>
		
			<div class="hidden listing_div selectable">
				<div class="left block num"></div>
			  	<div class="listing_in">
	  				<p class="listing_title"></p>
	  				<p class="listing_address"></p>
	  				<div class="check"><span><input type="checkbox" class="hidden" name="listing_id" value="" /></span></div>
	  			</div>
			</div>
		
		</div> <!-- END step 2 -->

		<div id="signupstep_3" class="workflow_step">
		
			<div class="intro">
				<h3>Great! Now enter your contact information.</h3> 
				<p>This name and address will be used on your main Administrator Account, you'll have full access to all the facilities added to this account.</p>
			</div>
		
		    <form action="" method="" id="contact_info_form" class="silent">
				<div class="left">
					<p>
						<label>First Name:</label><br />
						<input type="text" id="first_name" name="first_name" class="required" />
					</p>
					<p>	
						<label>Last Name:</label><br />
						<input type="text" id="last_name" name="last_name" class="required" />
					</p>	
					<p>
						<label>Facility Address (Line 1):</label><br />
						<input type="text" id="listing_address" name="listing_address" class="required" />
					</p>
					<p>
						<label>Facility Address (Line 2):</label><br />
						<input type="text" id="listing_address2" name="listing_address2" />
					</p>
				</div>
				<div class="left">
					<p>
						<label>City:</label><br />
						<input type="text" id="listing_city" name="listing_city" class="required autocomplete" rel="UsCity_names|5" />
					</p>
					<p>
						<label>State:</label><br />
						<input type="text" id="listing_state" name="listing_state" class="required autocomplete" rel="States_abbrevs|1" />
					</p>
					<p>
						<label>Zip Code:</label><br />
						<input type="text" id="listing_zip" maxlength="5" name="listing_zip" class="numeric_zip" />
					</p>
					<p>
						<label>Phone Number:</label><br />
						<input type="text" id="listing_phone" maxlength="12" name="listing_phone" class="numeric_phone" />
					</p>
			
				</div>
				<p class="opt_in">
					<input type="checkbox" name="wants_newsletter" id="wants_newsletter" value="1" />
					<label for="wants_newsletter">Send me the latest news.</label>
				</p>
			</form>
	  		
			<img src="/images/ui/storagelocator/step1b.png"/>
	
		</div> <!-- END step 3 -->

		<div id="signupstep_4" class="workflow_step">
			<div class="intro">
				<h3>What happens next...</h3>
				<p>
					This information will be used to verify that you are the real owner/manager of this facility. We'll contact this phone number within 24 hours to verify and activate your account. 
					Thanks for signing up. You are that much closer to reducing vacancies and increasing revenue!
				</p>
			</div>
			<div class="wraped">
				<div class="inner hidden"></div>
			</div>
			<img src="/images/ui/storagelocator/step4.png"/>
			
			<p id="terms_use">
				<input type="checkbox" name="terms_of_use" id="terms_of_use" value="1" class="required" checked="checked" />
				<label for="terms_of_use">I have read and agree to the <a href="/terms-of-use-facility-owners" target="_blank">Terms of Use</a>.</label>
			</p>
			
		</div> <!-- END step 4 -->
		
		<div id="signupstep_5" class="workflow_step">
			<div id="signup_processing">
				<div class="intro">
					<h3>Your account is being created.</h3>
					<p>Please wait while we setup your account. </p>
				</div>
				
				<div class="wraped">
					<%= ajax_loader 'ajax-loader-long-green.gif', :style => 'margin:90px auto;display:block;' %>
				</div>
			</div>
			
			<div id="signup_complete" class="hide">
				<div class="intro">
					<h3>Your Account is Pending Verification.</h3>
				</div>
				
				<div class="wraped">
					<p><strong>Thank You!</strong></p> 
					<br />
					<p>We'll contact you as soon as we receive notification that you signed up, during business hours of course. </p>
					<br />
					<p>Feel free to call us at the number below if you have any other questions.</p>
				</div>
			</div>
				
			<img src="/images/ui/storagelocator/step5.png"/>
		</div> <!-- END step 4 -->

	</div>
	<div id="contact">Need Help Signing Up?  Call <strong><%= $_usssl_phone %></strong></div>
	<div id="workflow_nav">
		<a class="button back" id="back" href="#back">Back</a>
		<a class="button skip" id="skip" href="#skip">Skip</a>
	  	<a class="button next" id="next" href="#next">Next</a>
	</div>
	
</div>