<table cellspacing="0" border="0" id="content-wrapper" style="border-bottom: solid 1px #dfedd7; border-bottom-left-radius: 6px; -webkit-border-bottom-left-radius: 6px; -khtml-border-radius-bottomleft: 6px; -moz-border-radius-bottomleft: 6px; border-bottom-right-radius: 6px; -webkit-border-bottom-right-radius: 6px; -khtml-border-radius-bottomright: 6px; -moz-border-radius-bottomright: 6px;" cellpadding="20" bgcolor="#ffffff" width="680">
    <tr>
        <td id="content" style="padding-top:0;">
            <table cellspacing="0" border="0" cellpadding="0" width="100%">
                <tr>
                    <td>
                        <div style="color: #000000; margin: 0px 0px 20px; font-size: 16px; font-family: 'Helvetica Neue',Helvetica,Tahoma,Verdana,Arial,sans-serif; line-height:22px;">
							<%= render :partial => @partial %>
						</div>
	                </td>
                </tr>
            </table>
            <img src="http://usselfstoragelocator.com/files/email_html/images/line-break.jpg" height="40" alt="break" width="631" />
        </td>
    </tr>
</table>