<% declare_content_for %>
<div id="ajax_wrap_inner">
	<%= display_message flash %>
	<h2 class="stack"><%= @block.title %></h2>
	<%= render :partial => @block, :locals => { :region => nil, :global => true } %>
</div>