<div id="add-fac-side">
	<div id="add-fac-box">
		<ul>
			<li><a href="/in-the-media">In the Media</a></li>
			<li><a href="/self-storage-blog">Self Storage Blog</a></li>
			<li class="bg collapsed">
				<a href="/terms-of-use" class="openDiv" rel="c1">Terms of Use</a>
				<ul class="child hide" id="c1">
					<li><a href="/terms-of-use-facility-owners">Facility Owners</a></li>
					<li><a href="/terms-of-use-rentals">Renters</a></li>
				</ul>
			</li>
			<li><a href="/privacy-policy">Privacy Policy</a></li>
			<li><a href="/refund-policy">Refund Policy</a></li>
			<li><a href="/contact-us">Contact Us</a></li>
		</ul>
	</div>
	
	<div id="media-box">
		<p><span>&#8220;</span>The new search engine locates self-storage facilities from its nationwide database and enables users the ability to choose and rent from a desired self-storage location. Their online rental system allows the storage seeker guaranteed availability of the unit chosen. <span>&#8221;</span>
		<br/><span class="quote">InsideSelfStorage.com</span></p>
	</div>
	
	<div id="subscribe-box">
		<% render :partial => 'subscribers/form' %>
	</div>
</div>