<div id="subfooter">
	<div id="business_assoc">
		<p><strong>Members of:</strong></p>
		<img src="/images/ui/storagelocator/bbb-logo2.png" alt="Member of Better Business Bureau" />
		<img src="/images/ui/storagelocator/ssa-logo.png" alt="Member of Self Storage Association" />
	</div>

	<div id="social-media">
		<p>
			<strong>Share This Site</strong> - We’ll be coming out with awesome specials through our social and business network pages.
		</p>
		<div id="icons">
			<a href="http://www.facebook.com/share.php?u=<%= current_path %>" target="_blank"><img src="/files/content/socialmedia/facebook.png" alt="Follow us on Facebook"></a> 
			<a href="http://www.twitter.com/home?status=I found a great place to rent self storage at <%= current_path %>" target="_blank"><img src="/files/content/socialmedia/twitter.png" alt="Follow us on Twitter"></a> 
			<a href="http://digg.com/submit?url=<%= current_path %>" target="_blank"><img src="/files/content/socialmedia/digg.png" alt="Share us on Digg"></a> 
			<!--<a href="http://www.usselfstoragelocator.com/rss"><img src="/files/content/socialmedia/rss.png" alt="USSelfStorageLocator.com RSS Feed"></a>-->
			<!--<a href="http://www.linkedin.com"><img src="/files/content/socialmedia/linkedin.png" alt="Follow us on Linkedin"></a>-->
			<a href="http://www.stumbleupon.com/submit/?url=<%= current_path %>" target="_blank"><img src="/files/content/socialmedia/stumbleupon.png" alt="Share us on Stumbleupon"></a>
		</div>
	</div>
</div>

<div id="wrapper2">
	<div class="inner">
		<div id="footer-menu">
			<a href="/sitemap.xml">Sitemap</a> - 
			<a href="/storage-info">Self Storage Info</a> - 
			<a href="/self-storage-advertising">Add Your Facility</a> - 
			<a href="/privacy-policy">Privacy Policy</a> -
			<a href="/refund-policy">Refund Policy</a> - 
			<a href="/terms-of-use">Terms of Use</a> - 
			<a href="/contact-us">Contact Us</a>
		</div>
		<div id="copyright">
			<p>&copy; 2010 USSelfStorageLocator.com All rights reserved.</p>
		</div>
	</div>
</div>