<div id="footer_mid">
	<div id="bg-highlight">
	<div id="steps">
		<div id="step1" class="step">
			<h3>Locate</h3>
			<div class="in">
			  <img src="/images/ui/storagelocator/locate-img.png" alt="Locate" />
			  <p>
  				Locate a self storage facility that suits your needs! Narrow your results by city, zip code, or street address. You can even choose to search by unit size, distance from your home, and facility amenities.
  			</p>
			</div>
		</div>
		
		<div id="step2" class="step">
			<h3>Select</h3>
			<div class="in">
			  <img src="/images/ui/storagelocator/select-img.png" alt="Select" />
        <p>
				Select a self storage facility that has exactly what you need using our feature enhanced, easy-to-use locator. You can sort locations by distance and features so you can find your perfect self-storage solution with ease.
			  </p>
			</div>
		</div>
		
		<div id="step3" class="step last">
			<h3>Reserve</h3>
			<div class="in">
			  <img src="/images/ui/storagelocator/reserve-img.png" alt="Reserve" />
        <p>
				Reserve your final choice with one final easy step. You’ll reserve the self storage unit you chose and be able to take advantage of our exclusive discount offers. Once your confirmation e-mail is sent, you’re good to go! 
			  </p>
			</div>
		</div>
	</div>
	
	<div id="more_info">
		<h4>USSelfStorageLocator.com Helps<br> You Find a Self Storage Unit Anywhere Anytime!</h4>
		
		<div class="inner">
			<p>
				<img class="right" src="/files/content/more-info-pic.png" alt="Self Storage Reservations" />
			</p>
			<p>
				Let’s face it, we accumulate a lot of stuff. Growing families, new purchases, or relocations all create the need for more space in our lives. When your possessions outgrow your living space, or you need to move to another location, consider self storage!
			</p>
				
			<h5>Options, Options, &amp; More Options</h4>
			<p>
				There are many types of self-storage facilities to choose from – they range from simple home goods storage to specialized facilities for vehicle owners, boat captains, and businesses. You can choose between self storage facilities and mobile storage, climate controlled units, various bay sizes, indoor and outdoor facilities, minimal and high security – the list goes on! With all of these options, you may find yourself needing some serious storage help.
			</p>
				
			<h5>We Make Deciding Easy</h4>
			<p>
				Whether you’re looking for storage help, moving solutions, or you’re a storage facility looking to <a href="http://storagelocator.heroku.com/add-your-facility"><strong>advertise your services</strong></a>, <a href="http://storagelocator.heroku.com"><strong>USSelfStorageLocator.com</strong></a> can help!
			</p>
				
			<p>
				<a href="http://storagelocator.heroku.com"><strong>USSelfStorageLocator.com</strong></a> makes it easy for you to research all of your self storage needs and questions. Here, you can find and compare <a href="http://storagelocator.heroku.com/storage-locator"><strong>self storage facilities</strong></a> by location, amenities, and storage type, learn what packing essentials (link to packing and supplies) you will need to protect important items, and browse our many tips!
			</p>
				
			<p>
				If you have a specific question and haven’t found the answer here, please <a href="http://storagelocator.heroku.com"><strong>contact us!</strong></a>
			</p>
		</div>
	</div>
	
	<a href="#more_info" rel="more_info" id="red_tab">Click for more</a>
	<div id="handle"></div>
	
</div>

<div id="footer_btm">
	<div class="strip"></div>

	<div id="affiliates">
		<p><strong>Affiliate Progams</strong> - Get great deals and save on your next Self Storage rental with one of our affiliate partners.</p>
		<div class="wrapper">
			<div class="previous_ad"></div>
			<div class="ad"><a href="http://www.publicstorage.com"><img src="/files/content/affiliates/publicstorage.jpg" alt="Public Storage Self Storage" /></a></div>
			<div class="ad"><a href="http://www.pods.com"><img src="/files/content/affiliates/pods.jpg" alt="Pods Self Storage" /></a></div>
			<div class="ad"><a href="http://www.extraspace.com"><img src="/files/content/affiliates/extraspace.jpg" alt="Extra Space Self Storage" /></a></div>
			<div class="ad"><a href="http://www.ustoreit.com"><img src="/files/content/affiliates/ustoreit.jpg" alt="U-Store-It Self Storage" /></a></div>
			<div class="ad"><a href="http://www.unclebobs.com"><img src="/files/content/affiliates/unclebobs.jpg" alt="Uncle Bob's Self Storage" /></a></div>
			<div class="ad"><a href="http://www.publicstorage.com"><img src="/files/content/affiliates/publicstorage.jpg" alt="Public Storage Self Storage" /></a></div>
			<div class="next_ad"></div>
		</div>
	</div>
	
	<div id="h-divider"></div>
	
	<div id="social-media">
		<p><strong>Share This Site</strong> - We’ll be coming out with awesome specials through our social and business network pages.</p>
			<div id="icons">
				<a href="http://www.facebook.com"><img src="/files/content/socialmedia/facebook.png" alt="Follow us on Facebook" /></a>
				<a href="http://www.twitter.com"><img src="/files/content/socialmedia/twitter.png" alt="Follow us on Twitter" /></a>
				<a href="http://www.digg.com"><img src="/files/content/socialmedia/digg.png" alt="Share us on Digg" /></a>
				<a href="http://www.usselfstoragelocator.com/rss"><img src="/files/content/socialmedia/rss.png" alt="USSelfStorageLocator.com RSS Feed" /></a>
				<a href="http://www.linkedin.com"><img src="/files/content/socialmedia/linkedin.png" alt="Follow us on Linkedin" /></a>
				<a href="http://www.stumbleupon.com"><img src="/files/content/socialmedia/stumbleupon.png" alt="Share us on Stumbleupon" /></a>
			</div>
	</div>
	</div>
</div>








