<div id="footer_mid">
	<div id="bg-highlight">
		<div id="steps">
			<div id="step1" class="step">
				<h3>Locate</h3>
				<div class="in">
					<img src="/images/ui/storagelocator/locate-img.png" alt="Locate">
					<p>
						Locate a self storage facility that suits your needs! Narrow your results by city, zip code, or street address. You can even choose to search by unit size, distance from your home, and facility amenities.
					</p>
				</div>
			</div>
			<div id="step2" class="step">
				<h3>Select</h3>
				<div class="in">
					<img src="/images/ui/storagelocator/select-img.png" alt="Select">
					<p>
						Select a self storage facility that has exactly what you need using our feature enhanced, easy-to-use locator. You can sort locations by distance and features so you can find your perfect self-storage solution with ease.
					</p>
				</div>
			</div>
			<div id="step3" class="step last">
				<h3>Reserve</h3>
				<div class="in">
					<img src="/images/ui/storagelocator/reserve-img.png" alt="Reserve">
					<p>
						Reserve the self storage unit you choose with one last easy step. Once your confirmation e-mail is sent, you're ready to go! The self storage facility you chose will hold the storage unit and contact you for further instruction.
					</p>
				</div>
			</div>
		</div>
		
		<div id="more_info">
			<h4>
				USSelfStorageLocator.com Helps<br />
				You Find a Self Storage Unit Anywhere Anytime!
			</h4>
			<div class="inner">
				<p>
					<img class="right" src="/files/content/more-info-pic.png" alt="Self Storage Reservations">
				</p>
				<p>
					Donec sodales ornare eros, nec hendrerit leo suscipit a? Ut pellentesque tellus quis quam porta aliquet! Vivamus et est et tortor imperdiet rutrum at vel enim. Nam velit mi, cursus vitae bibendum in, auctor sit amet ligula! Suspendisse non dui massa, id sagittis neque.
				</p>
				
				<h5>Ut Neque Met Cursus Semper</h5>
				<p>
					Integer euismod sollicitudin augue ut elementum. Ut quam felis, dapibus in tempus id, vestibulum quis nibh. Morbi sem neque, viverra eget eleifend sit amet, malesuada sit amet nulla. Praesent rhoncus pharetra ipsum; pellentesque feugiat metus vulputate lacinia. Maecenas libero magna, vehicula quis lacinia sit amet, aliquet eget libero. Mauris in neque eget sem porttitor laoreet? Quisque eget fermentum nisl. Proin aliquet nunc sed neque congue ultricies! Aliquam commodo suscipit elit, eget tincidunt metus varius sed. Sed quis neque turpis.
				</p>
				
				<h5>Ut Commodo Diam Sit Amet</h5>
				<p>
					Donec vehicula elit mi, porttitor porta sem. Vestibulum interdum ipsum posuere quam placerat semper. Cras a risus sed urna accumsan mattis? Duis eros eros, mollis bibendum varius tristique, pulvinar nec nisl. Proin laoreet dui sed odio euismod hendrerit. Sed ligula libero, consequat sit amet dictum et, volutpat a nulla. Donec mattis luctus metus ac varius. <a href="http://storagelocator.heroku.com/add-your-facility"><strong>advertise your services</strong></a>, <a href="http://storagelocator.heroku.com"><strong>USSelfStorageLocator.com</strong></a> can help!
				</p>
				<p>
					<a href="http://storagelocator.heroku.com"><strong>USSelfStorageLocator.com</strong></a> makes it easy for you to research all of your self storage needs and questions. Here, you can find and compare <a href="http://storagelocator.heroku.com/storage-locator"><strong>self storage facilities</strong></a> by location, amenities, and storage type, learn what packing essentials (link to packing and supplies) you will need to protect important items, and browse our many tips!
				</p>
				<p>
					If you have a specific question and haven’t found the answer here, please <a href="http://storagelocator.heroku.com"><strong>contact us!</strong></a>
				</p>
			</div>
		</div>
		<div id="latch-img"></div>
		<div id="handle"></div>
	</div>
	
	<%= render :partial => 'pages/short_footer' %>
</div>
