<div id="footer_mid">
	<div id="bg-highlight">
		<div id="wrapper">
			<div id="steps">
				<div id="step1" class="step">
					
					<h3>Locate</h3>
					<span>a Self Storage</span>
					<div class="in">
						<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/locate-img.png" alt="Locate">
						<p>
							Locate a self storage facility that suits your needs! Narrow your results by city, zip code, or street address. You can even choose to search by unit size, distance from your home, and facility amenities.
						</p>
					</div>
				</div>
				<div id="step2" class="step">
					
					<h3>Select</h3>
					<span>a Facility</span>
					<div class="in">
						<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/select-img.png" alt="Select">
						<p>
							Select a self storage facility that has exactly what you need using our feature enhanced, easy-to-use locator. You can sort locations by distance and features so you can find your perfect self-storage solution with ease.
						</p>
					</div>
				</div>
				<div id="step3" class="step last">
					
					<h3>Reserve</h3>
					<span>a Unit Online</span>
					<div class="in">
						<img src="http://s3.amazonaws.com/storagelocator/images/ui/storagelocator/reserve-img.png" alt="Reserve">
						<p>
							Reserve the self storage unit you choose with one last easy step. Once your confirmation e-mail is sent, you're ready to go! The self storage facility you chose will hold the storage unit and contact you for further instruction.
						</p>
					</div>
				</div>
			</div>
			<div id="more_info">
				<h4>
					Looking For A Self Storage Unit? <br />
					You've Come To The Right Website.
		</h4>
				<div class="inner">
				
					<img class="right" src="/files/content/more-info-pic.png" alt="Self Storage Reservations">
				
					<p>USSelfStorageLocator.com is the most complete self storage locator on the web today. With our easy to use Self Storage Locator tool we help you find the right self storage unit for the right price and with all the amenities you need. You'll even be able to make Online Reservations and SAVE on your next rental with one of the many special offers provided by our self storage facility network members.</p>

					<h5>Your Perfect Self Storage Option</h5>

					<p>There are many types of self storage facilities to choose from – they range from simple home goods self storage to specialized storage facilities for cars, boats, and businesses. You can choose between self storage facilities and mobile storage, climate-controlled units, drive-up access, indoor and outdoor facilities, and minimal to high security. USSelfStorageLocator.com can help you choose the perfect facility for your storage needs!</p>

					<h5>We Make Deciding Easy</h5>

					<p>Whether you’re looking for storage help, moving solutions, or you’re a storage facility looking to advertise your services, USSelfStorageLocator.com can help!</p>

					<p>We make it easy for you to research all of your self storage needs and questions. Here, you can find and compare <a href="/storage-locator">self storage facilities</a> by location, amenities, and type. You'll also find valuable self <a href="/storage-info">storage info</a> that will help you prepare for your next unit rental, and browse our helpful user generated <a href="/storage-tips">storage tips!</a></p>
				
					<p>If you have a specific question and haven’t found the answer here, please <a href="/contact-us">contact us!</a></p>
				
				
				</div>
			</div>
		</div>
		<div id="latch-img"></div>
		<div id="handle"></div>
	</div>
	
	<%= render :partial => 'pages/short_footer' %>
</div>
