<div id="footer_btm">
	<div id="wrapper1">
		
		<div class="strip"></div>
		
		<div id="affiliates">
			<p>
				<strong>Affiliate Progams</strong> - Get great deals and save on your next Self Storage rental with one of our affiliate partners.
			</p>
			<div class="wrapper">
				<div class="previous_ad"></div>
				<div class="ad">
					<a href="http://www.publicstorage.com"><img src="/files/content/affiliates/publicstorage.jpg" alt="Public Storage Self Storage"></a>
				</div>
				<div class="ad">
					<a href="http://www.pods.com"><img src="/files/content/affiliates/pods.jpg" alt="Pods Self Storage"></a>
				</div>
				<div class="ad">
					<a href="http://www.extraspace.com"><img src="/files/content/affiliates/extraspace.jpg" alt="Extra Space Self Storage"></a>
				</div>
				<div class="ad">
					<a href="http://www.ustoreit.com"><img src="/files/content/affiliates/ustoreit.jpg" alt="U-Store-It Self Storage"></a>
				</div>
				<div class="ad">
					<a href="http://www.unclebobs.com"><img src="/files/content/affiliates/unclebobs.jpg" alt="Uncle Bob's Self Storage"></a>
				</div>
				<div class="ad">
					<a href="http://www.publicstorage.com"><img src="/files/content/affiliates/publicstorage.jpg" alt="Public Storage Self Storage"></a>
				</div>
				<div class="next_ad"></div>
			</div>
		</div>
		
		<div id="social-media">
			<p>
				<strong>Share This Site</strong> - We’ll be coming out with awesome specials through our social and business network pages.
			</p>
			<div id="icons">
				<a href="http://www.facebook.com"><img src="/files/content/socialmedia/facebook.png" alt="Follow us on Facebook"></a> <a href="http://www.twitter.com"><img src="/files/content/socialmedia/twitter.png" alt="Follow us on Twitter"></a> <a href="http://www.digg.com"><img src="/files/content/socialmedia/digg.png" alt="Share us on Digg"></a> <a href="http://www.usselfstoragelocator.com/rss"><img src="/files/content/socialmedia/rss.png" alt="USSelfStorageLocator.com RSS Feed"></a> <a href="http://www.linkedin.com"><img src="/files/content/socialmedia/linkedin.png" alt="Follow us on Linkedin"></a> <a href="http://www.stumbleupon.com"><img src="/files/content/socialmedia/stumbleupon.png" alt="Share us on Stumbleupon"></a>
			</div>
		</div>
		
		<div id="top_cities">
			<p><strong>Most Popular Self Storage Cities</strong></p>
			<%= in_mode? 'locator' ? display_top_local_cities : display_top_us_cities %>
		</div>
		
		<div id="wrapper2">
			<div class="inner">
				<div id="footer-menu">
					<a href="/sitemap.xml">Sitemap</a> - <a href="/storage-info">Self Storage Info</a> - <a href="/add-your-facility">Add Your Facility</a> - <a href="/privacy">Privacy Policy</a> - <a href="/contact-us">Contact Us</a>
				</div>
				<div id="copyright">
					<p>&copy; 2010 USSelfStorageLocator.com All rights reserved.</p>
				</div>
			</div>
		</div>
		
	</div>
</div>
