<% @tos = Post.tagged_with('tos') %>
<div id="tos">
	<%= @tos.content if @tos %>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consectetur, elit id ultrices bibendum, orci ipsum sodales nibh, vel mollis lacus urna sit amet turpis. Phasellus tristique arcu sed velit imperdiet elementum. Nunc tempor ipsum congue dui volutpat nec tincidunt quam pulvinar. Aliquam iaculis convallis quam, eu porta massa accumsan at. Suspendisse eu orci risus, vitae posuere dolor. In condimentum varius aliquet. Fusce tincidunt elementum faucibus. Vivamus eleifend sagittis sodales. Sed quis leo urna, id fringilla nisi.</p>
	<p>Proin vitae neque vehicula enim ultrices placerat. Proin in tellus sit amet ante viverra adipiscing nec at est. Cras faucibus enim eget urna viverra ultrices. Aenean a turpis in arcu ornare ultrices. Praesent consequat, massa lacinia venenatis tincidunt, lectus velit mollis nunc, quis rhoncus elit odio vitae risus. Nulla fringilla tempor leo sagittis tincidunt. Sed quis metus nec massa lobortis vehicula vel sed mauris.  Vestibulum lectus nisi, sollicitudin id tincidunt sed, pharetra ut lacus. Nunc felis eros, adipiscing ut faucibus id, dictum ac libero. Nam mi nibh, aliquam a ultrices sed, dapibus eu mauris.</p>
	<p>Integer ac diam purus, quis tincidunt neque. Aliquam lobortis sollicitudin eros ac molestie. Cras adipiscing condimentum ante, id posuere quam mattis nec. Quisque ante purus, pellentesque non auctor ut, pellentesque at ipsum. Duis in leo vel sapien pharetra pellentesque nec et nibh. Curabitur eget mauris ante, at venenatis arcu. Aenean tempus, purus ut sollicitudin consequat, erat magna iaculis turpis, eu interdum nulla felis in dui. Integer a dolor est. 
	</p>
</div>