<% @reservation ||= reservation %>
<div class="reservation_wrap">
	<div class="stack">
		<p class="email"><%= mail_to @reservation.reserver.email rescue 'missing email' %></p>
		<%= render :partial => 'mailing_addresses/mailing_address', :locals => { :mailing_address => @reservation.reserver.mailing_address }%>
	</div>

	<div class="stack">
		<%= render :partial => 'reservations/reservation', :locals => { :reservation => @reservation } %>
	</div>
</div>

<% if current_user.has_role?('Admin') %>
	<div>
		<h3 class="stack">Facility:</h3>
		<%= render :partial => 'listings/listing', :locals => { :listing => @reservation.listing } %>
	</div>
<% end %>