<div class="reservation">
	<p><span class="block left w110">From:</span> <%= reservation.nice_move_in_date %></p>
	<p><span class="block left w110">Duration:</span> <%= reservation.duration %> months</p>
	<p class="uncollapse"><span class="block left w110">Reserve Code:</span> <%= reservation.reserve_code %></p>
</div>