<% declare_content_for %>
<%= display_message flash %>

<h2 class="stack">Reservation by <%= @reservation.name %></h2>

<div id="Reservation">
	<%= render :partial => 'detail', :locals => { :reservation => @reservation } %>
</div>