<div id="info_request_sent" class="stack">
	<h4>Great! Your Request Has Been Sent</h4>
	<p>We'll send you an email with the information you requested within 24 hours. We work with <%= @listing.title %> and can get you the best discount on a <%= @info_request.unit_type_size %> unit.</p>
</div>