<div id="ajax_inner_wrap" class="staticContent">
	<div id="error500" class="flash error">
		Ooops, I made a boo boo. Hey, I'm only human you know? Well, I'm a computer, but a human programmed me, so it's his fault, not mine. I'll go yell at him for you, er... beep...
	</div>
</div>