<div id="issn_tos">
	
	<div id="header">
		<img src="/images/ui/storagelocator/opentech.jpg" id="ot-logo" alt="OpenTech Alliance" />
		<h2>INSOMNIAC Self Storage Network – Network Member Agreement</h2>
	
		<div class="note">
			OpenTech Alliance, Inc., 2501 W. Dunlap Ave. Suite 150, Phoenix, AZ 85021 Phone: 602 749 9370 Fax: 602 749 9393
		</div>
	
		<p>The Network Member hereby agrees to and accepts the following terms and conditions of OpenTech Self Storage Network (“OpenTech”) as a prequalification to joining the INSOMNIAC Self Storage Network (“ISSN”).</p>
	</div>
	
	<h3>DEFINED TERMS</h3> 
	
	<dl>
		<dt>Data</dt> 
		<dd>is the information including unit inventory, prices, and customer information stored in the Network Member’s Property Management System “PMS” and required to successfully complete Services.</dd>

		<dt>ISSN</dt> 
		<dd>is an online market place that provides real-time connectivity between Network Members and authorized Marketing Partners for the purpose of completing mutually agreed upon Services.</dd>

		<dt>Marketing Partner</dt> 
		<dd>is an organization that has an agreement in place with OpenTech to provide online Services to Network Members utilizing the ISSN.</dd>

		<dt>Network Member</dt> 
		<dd>is a self storage facility owner, operator, or management company that is authorized to act on behalf of the Network Member.</dd>

		<dt>Services</dt> 
		<dd>are reservation transactions and optional services to include rentals, payments, and other services as defined mutually by the Network Member and Marketing Partner.</dd>
	</dl>
	
	<h3>ACCESS TO INFORMATION</h3>
	
	<p><strong>Network Member hereby grants Marketing Partner – USSelfStorageLocator.com - access to their Data.</strong></p>
	
	<p>Network Members will provide OpenTech with information related to which specific facilities will be connected to ISSN. Network Member agrees to maintain which Marketing Partners are to be granted or denied access to their Data by completing a Marketing Partner Authorization Form. Under no circumstances will Marketing Partner have access to Network Member Data until access is granted by Network Member.</p>
	
	<p>Network Member agrees Marketing Partners that have been granted access by the Network Member may access and obtain Data through ISSN to perform the Services agreed to by the Network Member. Network Member also agrees that OpenTech and Marketing Partner shall have no liability, obligation, or responsibility for the content and accuracy of the Data accessed or obtained from the Network Member’s PMS.</p>
	
	<p>Network Member agrees to allow access by representatives of OpenTech to establish and maintain (as may be required from time to time) Network Member’s connectivity to ISSN.</p>
	
	<h3>WARRANTY AND LIABILITY LIMITATIONS</h3>
	
	<p>NO WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, ARE MADE BY OPENTECH. IN NO EVENT WILL OPENTECH BE LIABLE TO NETWORK MEMBER OR ANY OTHER PARTY FOR ANY LOSS, INCLUDING TIME, MONEY, GOODWILL AND CONSEQUENTIAL DAMAGES, WHICH MAY ARISE FROM THE USE, OPERATION OR MODIFICATION OF ISSN AND RELATED SOFTWARE PROGRAMS.
TERMINATION</p>

	<h3>TERMINATION</h3>

	<p>This Agreement terminates when Network Member no longer has any authorized Marketing Partners on ISSN or upon written notification of termination by OpenTech.</p>
</div>