<div id="sl-tabs-predefined-sizes" class="sizes_list">
	<div id="sl-tabs-predefined-sizes-in" class="sizes_list_in">
		<ul class="sl-table-head">
			<li class="st-size">Size</li>
			<li class="st-type">Type</li>
			<li class="st-desc">Description</li>
		</ul>

		<div class="uncollapse">
			<%= render :partial => PredefinedSize.all %>
		</div>
	</div>
</div>