<div class="post_metadata">
	<% unless post.tags.empty? %>
	    <div class="tags left post_tags">
	    	Tags:&nbsp;<%= post.tags.map { |tag| "<span>#{link_to tag.name, conditional_tagged_with_path(model_controller(post), tag.name, post) }</span>&nbsp;" } %>
		</div>
	
		<div class="comments_count left">
			<%= link_to 'Comments', model_path(post, :anchor => 'disqus_thread'), :'data-disqus-identifier' => post.to_param %>
		</div>
	
		<div class="more"><%= link_to 'Read More', url_for(post) %></div>
  	<% end %>
</div>