<div id="head" class="blue"><h5>North Miami's Finest Climate Controlled Self Storage</h5></div>

<div id="map_partial" class="inner_box">
	<div class="left">
		
		<div class="facility-intro">
			<p>All ground floor units with some upper level units accessible with a rolling latter, and drive-up outdoor units also available.</p>
		</div>
		
		<div class="office-hours">
			<h3>
				Office Hours
			</h3>
			<table class="hours">
				<tbody>
					<tr>
						<th>
							Sun:
						</th>
						<td>
							11:00am - 3:00pm
						</td>
					</tr>
					<tr>
						<th>
							Mon:
						</th>
						<td>
							9:30am - 6:00pm
						</td>
					</tr>
					<tr>
						<th>
							Tue:
						</th>
						<td>
							9:30am - 6:00pm
						</td>
					</tr>
					<tr>
						<th>
							Wed:
						</th>
						<td>
							9:30am - 6:00pm
						</td>
					</tr>
					<tr>
						<th>
							Thu:
						</th>
						<td>
							9:30am - 6:00pm
						</td>
					</tr>
					<tr>
						<th>
							Fri:
						</th>
						<td>
							9:30am - 6:00pm
						</td>
					</tr>
					<tr>
						<th>
							Sat:
						</th>
						<td>
							8:30am - 5:00pm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="access-hours">
			<h3>
				Access Hours
			</h3>
			<table class="hours">
				<tbody>
					<tr>
						<th>
							Sun:
						</th>
						<td>
							6:00am - 10:00pm
						</td>
					</tr>
					<tr>
						<th>
							Mon:
						</th>
						<td>
							6:00am - 10:00pm
						</td>
					</tr>
					<tr>
						<th>
							Tue:
						</th>
						<td>
							6:00am - 10:00pm
						</td>
					</tr>
					<tr>
						<th>
							Wed:
						</th>
						<td>
							6:00am - 10:00pm
						</td>
					</tr>
					<tr>
						<th>
							Thu:
						</th>
						<td>
							6:00am - 10:00pm
						</td>
					</tr>
					<tr>
						<th>
							Fri:
						</th>
						<td>
							6:00am - 10:00pm
						</td>
					</tr>
					<tr>
						<th>
							Sat:
						</th>
						<td>
							6:00am - 10:00pm
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="right">
		<div class="google_map">
			<div id="map_<%= listing.map.id %>" class="map_wrap"></div>
			<ul class="get_dir">
				<li>
					<% form_tag '/ajax/directions' do %>
					<div>
						<input type="text" value="" title="Get Directions" name="from_address" id="from_address" class="directions hintable"> <%= link_to 'Go!', "/ajax/directions", :class => 'white', :id => 'get_dirs' %> <%= submit_tag 'Go', :class => 'hide' %>
					</div><% end %>
				</li>
			</ul>
		</div>
	</div>
</div>
