

<div id="map_partial" class="inner_box">
	
  	<div class="left small_framed">

	<h5 class=""><%= link_to listing.title, facility_path(listing.title.parameterize, listing.id) %></h5>    

    <h6>Boca's Newest and Finest Climate Controller Self Storage</h6>
    
    <p>
      Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor. sit amet, consectetur adipi sicing elit, sed do eiusmod tempor. 
    </p>
    
    <div class="medium_round bg_grey">
      <p class="framed"><%= link_to 'More Info', facility_path(listing.title.parameterize, listing.id) %></p>
    </div>
    
  </div>
  
  <div class="right">
    
    <div class="google_map">
      <div id="map_<%= listing.map.id %>" class="map_wrap"></div>
      
      <ul class="map_controls get_dir  horizontal">
       
		<li>
			<input type="text" value="Enter your starting address for directions and..." title="Get Directions" rel="" name="" id="" class="directions" autocomplete="off" role="textbox" aria-autocomplete="list" aria-haspopup="true">
          	<%= link_to 'Go!', google_directions_link(listing.map.full_address), :class => 'white', :target => '_blank' %>
        </li>
       
      </ul>
    </div>
    
  </div>
  
</div>