<div class="sl-table-exp">
	<p class="blue-text">Tell us what you're looking for and <strong>we'll get you the best deals</strong>. <a href="#request_info" class="blue-search-button">More info</a></p>
	
	<%= render :partial => 'reservations/form', :locals => { :listing => @model } %>
</div>
