<div class="sl-table-exp">
	<div class="uncollapse">
		<%= image_tag(size.icon(:medium).icon.url, :class => 'left size_icon') if defined?(size) && size.icon(:medium) %>
		<p class="blue-text">Tell us what you're looking for and <strong>we'll get you the best deals</strong>. <a href="#request_info" class="blue-search-button">More info</a></p>
	</div>
	
	<% form_tag @model.info_requests.new, :class => 'new_listing_request less_verbose' do %>
		<%= render :partial => 'reservations/quickform', :locals => { :listing => @model, :request_type => 'info_request', :size => defined?(size) && size } %>
	<% end %>
	
	<p class="verisign"><span class="hidden">Verisign Secure</span></p>
</div>
