<div class="sl-table-exp">
	<div class="uncollapse">
		<%= image_tag(size.icon(:medium).icon.url, :class => 'left size_icon') if defined?(size) && size.icon(:medium) %>
		<p class="blue-text">Make a reservation and <strong>we'll hold the unit for you</strong>. <a href="#reserve" class="blue-search-button">More info</a></p>
	</div>
	
	<% form_for Reservation.new, :html => { :id => "new_reservation_#{listing.id}", :class => 'silent new_listing_request' } do |f| %>
		<%= render :partial => 'reservations/quickform', :locals => { :f => f, :listing => (@model || listing), :request_type => 'reservation', :size => (defined?(size) && size) } %>
	<% end %>
</div>