<div id="head" class="blue">
	<h5 class="reviews-tab white">Here's what other people have to say about <a href="">American International Self Storage</a>.</h5>
</div>
	
</div>

<div class="inner border_box">
	<ul id="reviews_list">
		<%= render :partial => 'comments/review', :collection => listing.reviews %>
	</ul>
</div>