<div id="head" class="blue head">
	<h5 class="white">Current Self Storage Rental Specials</h5>
</div>

<div class="inner border_box">
	<ul id="specials_list">
		<% listing.specials.each do |special| %>
			<li><%= special.title %></li>
		<% end %>
	</ul>
</div>