<% declare_content_for %>

<div id="ajax_wrap_inner">
	<%= display_message flash %>

	<h2><%= @image.title %></h2>
	
	<div class="stack">
		<%= image_tag @image.image_url %>
	</div>
	
	<%= @image.image_url %>
</div>